body {
  font-family: 'Inconsolata', monospace;
  background-color:black;
  color:lime;
  text-align:left;
}
div.fixed {
  position: fixed;
  width: 90%;
  bottom: 10%;
	left: 5%;
  border: 3px solid #000000;
}
#frm1 {
  background-color: black;
  color: white;
  border: 2px solid white;
  border-radius: 2px;
  width: 100%;
}